# Default ignored files
/shelf/
/.idea/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

.idea


damou.app.library.dev.pem
damou.app.library.dev-key.pem
analytics.sql
catalogue.sql
compose.yml
docker-compose-minikube.yml
inventory.sql
member-card.sql
notification.sql
prometheus.yml
records-backup.sql
records.sql
telemetry.env
auth-deployment.yaml
.idea
prometheus.yml
**/secret.yaml
.env
.env.*
!**/.env
!**/telemetry.env
notification/.env

**/secret.yaml
**/secret.yml
**/secret.env
deployment/kubernetes/**/secret.yaml
deployment/kubernetes/**/configmap.yaml
**/secret.yaml
**/configmap.yaml

**/keys
**/.env
k8s/apps
k8s/databases
deployment/kubernetes/borrow/ok.yaml
deployment/kubernetes/borrow/ko.yaml
telemetry.env
notification/.env

deployment/kubernetes/**/secret.yaml
deployment/kubernetes/**/configmap.yaml

deployment/kubernetes/**/secret.yaml
deployment/kubernetes/**/configmap.yaml
deployment/kubernetes/**/ConfigMap.yaml
deployment/kubernetes/**/db-secret.yaml
deployment/kubernetes/**/public-key-secret.yaml

notification/.env
deployment/kubernetes/openresty/files/public.pem
mailpit/
kubernetes/openresty/files/public.pem
kubernetes/openresty/templates/public-key-secret.yaml
kubernetes/borrow/ko.yaml
kubernetes/borrow/ok.yaml
kubernetes/comments/ConfigMap.yaml
kubernetes/analytics/db-secret.yaml